<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content=width=device-width, initial-scale=1.0">
<title>Image Search Engine </title>
 <link rel="stylesheet" href="./static/style.css">

<body>

<div class="container"> 

<h1>Reverse Image Search Engine </h1>

<form method="post" enctype="multipart/form-data" action="/reverseimagesearchresult">
  <label for="search">Search:</label>
  <input type="file"  name="query_img"><br>
  <input type="submit"><br>
</form>

<h2>Query: </h2>
{% if query_path %}
<img src="{{query_path}}" width="300px">
{% endif %}

<h2>Results: </h2>
{%  for score in scores %}
<figure style="float: left; margin-right: 20px; margin-bottom:20px" 
   
</figure>
<img src="{{score[1]}}" height="200px">
<p>{{score[0]}}</p><br>
<p>{{score[1]}}</p><br>

{% endfor %}



<a href="/"> Search  Web</a><br>
<a href="/reverseimagesearch">Reverse Image Search </a>
</div>

</body>
</html>
